.card {
    font-size: 2em;
    flex: 1 1 calc(100% / 5 - 0.4em);
}

.card:hover {
  cursor: pointer;
}
  
.card.hidden {
    background: silver;
}
  
.card.justMatched,
.card.justMismatched {
    outline: 0.1em solid green;
}

.card.justMismatched {
    outline-color: red;
}
  
 .card.visible {
    cursor: not-allowed;
}
  
.card > .symbol {
    margin: auto;
}